#Pacokage files
node_modules
package-lock.json

#Credentials
.env
cypress.env.json

#Cypress specific
/cypress/videos
/cypress/screenshots
/cypress/reports
testes-api-delivery-cypress/package.json

#Build files
/dist
/.cache


#Results files
**/results/
**/report

